
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* navigation */
nav {
	background-color: steelblue;
	padding: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav a {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
	color: #fff
}
 
 
 
 h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue;
 }
 
 img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
 }
 
 p {
    padding: 0;
 }

 /* aside */
 aside {
   width: 20em;
   position: relative;
   margin: 1rem;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 1rem;
   background-color: #eee;
   color: #333;
   text-align: center;
}

aside h2 {
   position: absolute;
   left: 100px;
}

aside img {
   width: 200px;
   height: auto; 
}

/* main */
main img {
   width: 150px;
   height: auto; 
   float: right;
}

.grid {
	display: grid;
	align-items: center;
   max-width: 840px;
	margin: 0 auto;
}

main {
	grid-column: 2/3;
	margin: 1rem;
}

aside {
	width: 20rem;
	position: relative;
	grid-column: 1/2;
	grid-row: 1/2;
}

/* header and footer */

.box {
   margin: 1rem;
   border: 1px solid rgba(71, 71, 71, 0.753);
   padding: 1em;
   background-color: #ddd;
   color: #000;
}

header, footer {
	max-width: 840px;
	margin: 0 auto;
}

